/*Modificaciones dentro del nav*/
    .nav-link{
        margin: 20px;
        font-size: 20px;
    }
/*estilos generales*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 2.5rem;
    font-family: 'Source Sans Pro', sans-serif;      
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    width: 900px;
}
@media screen and (max-width:767px) {
    p{
        font-size: 0.5;
        width: 250px;
    }
}
/*hero*/
.hero{
    background-color: #f5f6f7;
    text-align: center;
    min-height: 450px;
}
.hero-principal{
    padding: 3rem;
}
.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
    font-family: 'Source Sans Pro', sans-serif;
}
.hero-imagen-personal{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}
@media screen and (max-width:767px){
    .hero-imagen-personal{
        width: 100px;
        height: 100px;
        margin: 10px;
    }
}
.hero-inferior{
    max-width: 80%;
}
@media screen and (max-width: 767px) {
    .hero-inferior img{
        width: 20%;
        margin: 2px;
    }
}
@media screen and (min-width: 767px) {
    .hero-inferior img{
        width: 200px;
        margin: 20px;
    }
}
/*Experiencia*/
.experiencia img{
    width: 250px;
    height: 200px;
}
.blanco{
    color: #fff;
}
.experiencia img:hover{
    width: 300px;
    height: 250px;
    transition: all 1.2s;
}
/*contacto*/
.contacto-form label{
    font-family: 'Source Sans Pro', sans-serif bold;
    font-size: 20px;
    width: 200px;
    text-align: left;
}
.contacto-form input{
    outline: none;
    border-radius: 10px;
    border: none;
    width: 400px;
    margin: 20px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.contacto-form input:focus{
    background-color: #666;
    color: #fff;
}
.contacto{
    background-color: #f5f6f7;
    margin: 10px;
}
.contacto-form{
    background-color: #666;
    color: #fff;
    width: 900px;
    border-radius: 25px;
}
.bb{
    margin-bottom: 5px;
}
@media screen and (max-width:767px) {
    .contacto-form{
        width: 100%;
    }
    .contacto-form div{
        width: 100%;
        padding-left: 20px;
    }
    .contacto-form input{
        width: 250px;
        margin-bottom: 10px ;
    }
    .contacto-form label{
        font-family: 'Source Sans Pro', sans-serif bold;
        font-size: 20px;
        width: 200px;
        text-align: left;
    }
}
/*footer*/
footer img{
    width: 30px;
    margin: 2px;
    transition: all 3s;
}
footer img:hover{
    width: 50px;
    margin: 5px;
}
.foot .row .col-12{
    margin: auto auto;
}
.rigth{
    text-align: right;
    font-size: 10px;
}
@media screen and (max-width:767px) {
    .rigth{
        text-align: center;
    }
    .left{
        width: 100%;
        text-align: center;
        margin: 1px;
    }
}