nav{
    text-align: center;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    display: inline-block;
    align-items: center;
}
nav ul li{
    float: left;
    list-style: none;
    margin: 0px 30px 0px 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #ddd;
    display: table;
}
nav ul li a::after{
    content: "";
    display: block;
    height: 2px;
    background-color: #fff;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform 1s;
}
nav ul li a:hover{
    color: #fff;
}
nav ul li a:hover::after{
    transform: scale(1,1);
}
.center{
    text-align: center;
}
.logos{
    display: inline-block;
}
div img{
    display: inline-block;
    width: 180px;
    height: 180px;
    margin: 50px;
}
body{
    margin: 0 auto; 
}
main{
    text-align: center;
}
main h1{
    font-family: helvetica;
    color: #333;
}
main div{
    margin: 0 auto;
    display: block;
    width: 900px;
}
.work{
    display: block;
    width: 350px;
    height: 250px;
}
main form{
    display: block;
    margin: 0 auto;
    width: 500px;
    background-color: #333;
    color: #ddd;
    border-radius: 10px;
}
button{
    margin-bottom: 50px;
    margin-top: 20px;
}
label{
    display: inline-block;
    width: 150px;
    text-align: left;
    height: 30px;
}
input{
    margin: 20px;
    width: 250px;
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:solid 2px ;
    color: #333;
    background-color: #ddd;
    outline: none;
    border-radius: 5px;
}
input::placeholder{
    color:#333;
}
input:focus{
    background-color: #333;
    color: #ddd;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
textarea{
    margin: 20px;
    width: 250px;
    height: 60px;
    resize: none;
    background-color: #ddd;
    color: #333;
    border-radius: 5px;
}
textarea::placeholder{
    color: #333;
}
textarea:focus{
    background-color: #333;
    color: #ddd;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 2px;
}
footer{
    display: flex;
    background-color: #333;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px ;
    height: 100%;
    width: 100%;
}
footer p{
    color: #ddd;
}
footer div{
    margin: 0 auto;
}
.redes{
    display: flex;
}
.redes img{
    text-align: center;
    width: 25px;
    height: 25px;
    margin: auto 5px;
}
.swal-button {
    background-color: #333;
}
.swal-button {
  padding: 7px 19px;
  border-radius: 2px;
  background-color: #333;
  font-size: 12px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}
.incorrecto{
    border: solid 2px red;
}
.correcto{
    border: solid 2px green;
}